- title "AI Match: Welcome"
%h2 Less swiping, more matching.
%p Find users that are most likely to match with one another using a recommender system trained on dislikes and mutual likes. The more you like/dislike other users, the smarter it gets. Matches are generated nightly. Pre-Alpha status, very unfinished, but finding users near you, rating users, viewing mutual likes, and viewing who liked you is possible. Users over 18 can only see and rate users over 18, between 13-18 can only see and rate those of the same age group. Our matching algorithm is coming soon.