- title "AI Match: Welcome"
%h2 Less swiping, more matching.
%p
  Finds users that are most likely to match with one another using a recommender system trained on dislikes and mutual likes.
  
%p
  Pre-Alpha status, very unfinished, but finding users near you, rating users, viewing mutual likes, viewing who liked you, and messaging users is possible. Users over 18 can only see and rate users over 18, between 13-17 can only see and rate those of the same age group. Our matching algorithm is coming soon.
  
%p
  =link_to "Contact me", "https://twitter.com/blackphiber"
  if you experience any issues.
  
%p
  Updates:
  %li
    Nov 17, 2019 Upgraded to Rails 6
  %li
    Oct 30, 2019 Login issues fixed. Forced https