- title "AI Match: Welcome"
%h2 Less swiping, more matching.
%p
  Recommender system trained on dislikes and matches.
  
%p
  Find people you're likely to match with.
  
%p
  Over 18 can only see and rate people over 18, between 13-17 can only see and rate those of the same age group.

%p
  Alpha status. Likely many bugs.
  
%p
  =link_to "Contact me", "https://twitter.com/blackphiber"
  if you experience any issues.
  
%p
  %h2 Updates:
  %li
    Feb 22, 2020 Filter predictions by distance.
  %li
    Feb 16, 2020 Matching algorithm (predictions) implemented. There's probably still some bugs.
  %li
    Nov 17, 2019 Upgraded to Rails 6
  %li
    Oct 30, 2019 Login issues fixed. Forced https
    
%p
  %h2 Features/etc under development:
  %li
    Photo gallaries
  %li
    "Last seen"
  %li
    Regularization is currently set to 1 and features are set to 10 which likely isn't optimal. Once we have enough data I'll try different values for regularization on different cross-validation data-sets to optimize cost while preventing over/underfitting.
  %li
    list current cost for predictions