%h1 Less swiping, more matching.
%p Find users that are most likely to match with one another using a recommender system trained on mutual likes. The more you like/dislike other users, the smarter it gets. Matches are generated nightly.